<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbh68GkQrcZdclZGy7NyG4Zh1g20npXts</string>
	<key>GCM_SENDER_ID</key>
	<string>322955723978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.huskyChat</string>
	<key>PROJECT_ID</key>
	<string>huskychat-6ccec</string>
	<key>STORAGE_BUCKET</key>
	<string>huskychat-6ccec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322955723978:ios:bb0af5d94a073e2f756033</string>
</dict>
</plist>